<footer>
  <section class="section-footer">
    <section class="logo-n-menu">
      <div class="logo-n-text">
        <svg class="footer-logo"><use href="../img/icons.svg#logo"></use></svg>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="menu-n-contact">
        <div class="footer-menu">
          <p class="footer-menu-item">how it works</p>
          <p class="footer-menu-item">vegetables</p>
          <p class="footer-menu-item">reviews</p>
        </div>
        <div class="footer-contact">
          <p class="menu-contact-item">+380 (68) 443-94-26</p>
          <p class="menu-contact-item">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </div>
      </div>
    </section>
    <section class="privacy-policy">
      <p class="privacy-n-cookie">
        <a href="">Privacy Policy</a>
        /
        <a href="">Cookie setting</a>
      </p>
      <p class="privacy-n-cookie">©Green Harvest 2023</p>
    </section>
  </section>
</footer>
