<header>
  <div class="header-container">
    <svg class="header-logo" height="18">
      <a href="../index.html"><use href="../img/icons.svg#logo"></use></a>
    </svg>
    <nav class="header-nav">
      <div class="nav-container">
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a class="nav-link" href="">How It Works</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="">Vegetables</a>
          </li>
          <li class="nav-menu-item">
            <a class="nav-link" href="">Reviews</a>
          </li>
        </ul>
        <button class="nav-button">SHOP NOW</button>
      </div>
    </nav>
  </div>
</header>
