<section class="section-hero">
  <div class="hero-container">
    <section class="hero-paragraph-section">
      <p class="hero-header">ORGANIC VEGETABLES TO YOUR DIET TODAY!</p>
      <p class="hero-paragraph">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </section>
  </div>
  <div class="hero-container">
    <img class="hero-img" src="../img/hero.jpg" alt="hero" />
  </div>
</section>
